//colors
$grey: #666666;
$black: #000000;
$white: #FFFFFF;
$dark-grey: #363636;
$white-smoke: #F3F3F3;
$light-gray: #EEEEEE;
$light-dark-grey: #9B9B9B;

//font-sizes
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;